#OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

#LaTeX
/Dokumentation/*.aux
/Dokumentation/*.log
/Dokumentation/*.bak
/Dokumentation/*.toc
/Dokumentation/*.bbl
/Dokumentation/*.blg
/Dokumentation/*.dvi
/Dokumentation/*.out

#Large Files
/Dokumentation/Skizzen/*.psd